target
id*
db*
debian-build
debian/.debhelper
debian/debhelper-build-stamp
.DS_Store
.vscode
src/version.rs
db_v2.sqlite3
test.*
.idea
/libs/hbb_common - kopia/
.env
*.sqlite3
*.sqlite3-wal
*.sqlite3-shm
*.pfx
*.p12
*.key
/technicians/
/.vs/
